.sidebar {
    width: 220px;
    height: 155vh;
    background-color: #1e1e1e;
    box-shadow: 2px 0 10px rgba(0,0,0,0.5);
  }
  .nav-link {
    cursor: pointer;
  }
  .nav-link:hover {
    background-color: #333;
    border-radius: 4px;
  }
  